

.projects{
    display:flex;
    flex-direction: column; 
    align-items: center;
    scroll-snap-align: start;
    margin-top: -100px;
 
}


.projects_container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap:30px;
    margin: 3em 10em;
 
}

.proj_card
{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 10px;
   border-bottom:1px solid #F5F5F5;
   padding: 1em;
   margin: 0.2em;
   background-color:white;
   transition-duration: 0.25s;  
   cursor: pointer;
   box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
   min-height: 600px;
   
}

.proj_card:hover{
    transform: scale(1.02);
    transition: transform 0.8s ease;
}

.proj_title{
    padding: 1em;
}

.image_container{
    display: flex;
    flex-direction: column;
    margin-bottom:1.5em;
   

}

.info_container{
     display:flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     text-align: justify;
     padding:1.2em 0em;
    
}

.description
{
line-height: 1.8;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

.proj_image{
    width:100%;
    object-fit: cover;
    
}
.btn_container{
    display:flex;
    justify-content: space-between;
    width: 100%;;
   
}
.btn{
    border-radius: 10px;
    margin: 1.2em;
    padding: 1em ;
    letter-spacing: 2px;
    font-size: 1.3rem;
    transition:transform 20s ease-in-out;
    font-weight: 600;
    cursor: pointer;
    border:none;
  
}
.btn>a{
    color:rgb(37, 33, 33);
}

/********  Rsponsive  ************/

@media screen and (max-width:600px ) {


 .projects{
    margin-top: -50px;
 } 
  .subHeading{
    
    font-size: 1.4rem;
  }
  .description{font-size: 1rem;}

    .projects_container{
        padding: 1em;
        margin: 4em;
       
    }  

   .proj_card{
    margin: 0em 1em;
   }
    
    .proj_title{       
        font-size: 1rem;
        
    }
    .btn{
       
        font-size: 1rem;
        border:none;
      
    }


}
  


@media only screen and (min-width:600px) and (max-width:800px) {
    .projects_container{
        padding: 0.5em ;
        margin:1.5em;
        font-size: 1.3rem;
    }

    
    .btn{
       
        font-size: 1rem;
        border:none;
      
    }



}