.header_section{
    height:9vh;
    width:100%;
    position:fixed;                                       
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins' sans-serif;
    
}

.social{
    display:flex;
    flex-direction: row;
    
    padding: 10px;
    margin-right: 60px;
}

.social_links{

    margin-right: 20px;
    justify-content: space-between;
    padding:10px;
    cursor: pointer;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    
    
}

.social_links:hover
{
    transform: scale(1);
    background-color:#8444;
}








.social > a :hover
{
    
    color:rgb(180, 131, 223);
    transform: scale(1.06);
    
    
}

