
.skills_container{    
    width: 100vw;
    height: calc(100vh-70px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;
    align-items: center;  
    
}
.skills_box{
    box-shadow: none;
    width: 100%;
    padding: 1.4em 1.2em;
    background-color:white ;
    box-shadow: none;
    margin:1.5em 0em;
    border-radius: 10px;
 
}

.skills_box>ul{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    row-gap:6px;
    column-gap: 3px;
  
    
}

.skills_heading{
    font-size: 1.4rem;
}

.skills_box>ul>li{
    height:80px;
    width:80px;
    padding: 12px;
    margin: 2px;
    background-color:white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(5, 5, 5, 0.15)  1px 1px 1px 1.6px;
    margin: 10px;
    cursor: pointer;
    transition: transform 2s ease; 


}


.skills_box>ul>li:hover
{    
    
    transform: scale(1.1);
    
    
}

.logo{
    height:50px;
    width: 50px;
}

.logo_name{

    font-size: 12px;
    font-weight: bold;
    color:black;
}
.skills_heading{
    font-size: 1.2rem;
}

   
.logo_wrapper:hover{
    transition: transform 200s all;
} 


/*****  Tablet  ******************/

@media only screen and (min-width:600px) and (max-width:780px) {
.skills_container{
   padding: 1em;
   margin:2em;
   
   margin: 0 auto;
}
    
.skills_box{
    
    padding: 1em;
    background-color:white ;
    box-shadow: none;
    margin:2em 0em;
    border-radius: 10px;
    height: 40vh;
    width:90%;
 
}
    
.skills_box>ul{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    row-gap:12px;
    column-gap: 6px;
  
    
}
.skills_heading{
    font-size: 1.8rem;
}
}

/**********   For Labtops and Desktops   *************/

@media only screen and  (min-width:780px) {

.skills_box{
    border-radius:50px;
    padding:  3em;
    width:70%;
    line-height: 1.8;
    gap:15px;
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;

}
.skills_box>ul{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    
}
.skills_heading{
    font-size: 1.8rem;
}

.skills_box>ul>li{
    height:90px;
    width:90px;
    padding: 12px;
    margin: 10px;
}
.logo{
    height:70px;
    width: 70px;
}
}
