.skills_container{
    width: 100vw;
    height: calc(100vh-70px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    align-items: center;  
    
}



.skills_box{
    border-radius: 50px;
    font-family: 'Roboto Slab','Poppins';
    border:2px;
    width:70%;
    color: #5F6F81;
    background-color: white;
    gap:20px;
    padding: 3em 3.5em;
    margin: 1em 10em;
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
    
}

.skills_box>ul{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    
}


.skills_box>ul>li{
    height:90px;
    width:90px;
    background-color:white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(5, 5, 5, 0.15)  1px 1px 1px 1.6px;
    margin: 30px;
    cursor: pointer;
    transition: transform 2s ease; 
}



.skills_box>ul>li:hover
{    
    
    transform: scale(1.1);
    
    
}
    
.logo{
    height: 70px;
    width:70px;
}


.logo_name{

    font-size: 12px;
    font-weight: bold;
    color:black;
}



.logo_wrapper:hover{
    transition: transform 200s all;
}
/*******  Responsive  ****************/

@media only screen and (max-width: 600px){
.skills_container{    
    padding: 10px;
    justify-content: center;
 
    
}
.skills_box{
    box-shadow: none;
    width: 100%;
    padding: 1.4em 1.2em;
    background-color:white ;
    box-shadow: none;
    margin:1.5em 0em;
    border-radius: 10px;
 
}

.skills_box>ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap:12px;
    column-gap: 6px;
  
    
}

.skills_box>ul>li{
    height:65px;
    width:65px;
    padding: 10px;
    margin: 6px;
}
.logo{
    height:50px;
    width: 50px;
}

.logo_name{

    font-size: 10px;
    font-weight: bold;
    color:black;
}
.skills_heading{
    font-size: 1.2rem;
}

    
}

@media only screen and (min-width:600px) and (max-width:1200px) {
.skills_container{
   padding: 1em;
}
    
.skills_box{
    
    width: 100%;
    padding: 1em;
    background-color:white ;
    box-shadow: none;
    margin:2em 0em;
    border-radius: 10px;
    height: 40vh;
 
}
    
.skills_box>ul{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    row-gap:12px;
    column-gap: 6px;
  
    
}
}
