.about_container{ 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;    
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    margin: 1em 0em;
 
}


.about_box{
    border-radius: 30px;
    color: #27282a;
    padding: 2em 1em;
    box-shadow: none;
    background-color: white;
     gap:15px;
     margin: 1.5em 0em;
}

.about_heading{
    font-size: 1.4rem;
}


.about_box>p{

    text-align: justify;
    line-height: 2;
    font-size: 1.1rem;
    margin-bottom: 1.4em;
 
    
}


/***********   For tablets   **************/

@media only screen and (min-width:600px) and (max-width:780px) {
    .about_container
    {    
        margin: 0.5em;
        justify-content: center;
      
         
    }
       .about_box{   
        width: 100%;
        border-radius: 20px;
        background-color:white ;
        box-shadow: none;  
        padding: 2em ;
        margin:2em 0.5em;
        gap:15px;
       }
       
    .about_heading{
        font-size: 1.8rem;
       
    }
    
    .about_box p{
    
        text-align: justify;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 40px;;
        
    }
    }

/************    For laptopbs and dcesktops   ***********/

@media screen and (min-width:780px) {
.about_container{
    margin: 1em;
}
.about_box{
    margin: 3em;
}

 .about_box{    
    padding:  3em;
    width:70%;
    line-height: 1.8;
    gap:15px;
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;

 }

 .about_box>p{
    font-size: 1.3rem;
   
 }

 .about_heading{
    font-size: 1.8rem
 }

}