
.contact{
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:30px 0px;
    font-family: 'Roboto';
}


.contact_container
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:100px;
   
    
}
.contact_options{    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.option{
    background-color: white;
    margin:30px;
    border-radius:10px;
    padding:20px;
    height:160px;
    width:260px;
    line-height: 30px;
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
    cursor: pointer;
    border: 1px solid transparent;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option > a{
    font-size: 14px;
}

.option:hover{
    background: transparent;
    transition: transform 3s all;
    border-color: var(--color-primary-variant);
}
.form_container
{
    flex:0.5;
    height:80vh;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    color: black;   
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
}


.name_email{
    
    display: grid;
    width:80%;    
    align-items: center;
    }

.input {
    width:100%;
    height:50px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    margin: 20px;
    border:2px solid gray;
    
    
}


.textarea_section
{
    
    display: grid;    
    width:80%;
}


.textarea{
    width:100%;
    height:150px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    line-height: 40px;
    margin: 20px;
    word-wrap: break-word;
    word-break: break-all;
    border:2px solid gray;
    
}

.btn_section{
    width:100%;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.send_btn{
    width: 40%;
    height:54px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Roboto';
    cursor: pointer;
    color: white;
    margin: 6px;
    background-color: rgb(37, 33, 33);;
}


/**********MEDIA QUOTES (MEDIUM DEVICES)   ***************/

@media screen and (max-width:1024px) 
{
  .contact_container{
    grid-template-columns: 1fr;
    gap:2rem;
  }  
}


/************ MEDIA QUOTES (SMALL DEVICES)  ************/

@media screen and (max-width:600px) {
    .contact_container{
        width:var(--container-width-5m)
    }
}
