
.contact{
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:30px 0px;
    font-family: 'Roboto';
   
}


.contact_container
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    background-color:white;
    height:70vh;
    width:30%;
    margin:50px;
    padding: 60px;
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
    border-radius: 10px;
    
}
.form_container
{
    width:100%;
    font-weight: 400;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;   

}


.name_email{
    
    display: grid;
    width:100%;    
    align-items: center;
    }

.input {
  
    height:40px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    border:1px solid lightgray;
    margin: 30px 0px;    
}


.textarea_section
{    
    display: grid;    
    width:100%;
}


.textarea{
  
    height:130px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    line-height: 40px;
    margin: 30px 0px;
    word-wrap: break-word;
    word-break: break-all;
    border:1px solid lightgray;
    resize: none;
}

.btn_section{
    width:100%;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.send_btn{
    width: 40%;
    height:50px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Roboto';
    cursor: pointer;
    color: white;
    margin: 6px;
    background-color: rgb(37, 33, 33);;
}


/**********MEDIA QUOTES (MEDIUM DEVICES)   ***************/

@media screen and (max-width:1024px) 
{
  .contact_container{
    grid-template-columns: 1fr;
    gap:2rem;
  }  
}


/************ MEDIA QUOTES (SMALL DEVICES)  ************/

@media screen and (max-width:600px) {
    .contact_container{
        width:var(--container-width-5m)
    }
}
