
.contact{
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:30px 0px;
    margin: 3em 0em;
    font-family: 'Roboto';
   
}


.contact_container
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    background-color:white;
    height:75vh;
    width:50%;
    margin:3em;
    padding: 3.2em;
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
    border-radius: 10px;
    
}
.form_container
{
    width:100%;
    font-weight: 400;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black; 
    position:relative;  

}

.label{
    font-size: 1.4rem;
}
.name_email{
    
    display: grid;
    width:100%;    
    align-items: center;
    }

.input {
  
    height:40px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    border:1px solid lightgray;
    margin: 30px 0px;    
}


.textarea_section
{    
    display: grid;    
    width:100%;
}


.textarea{
  
    height:130px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    line-height: 40px;
    margin: 30px 0px;
    word-wrap: break-word;
    word-break: break-all;
    border:1px solid lightgray;
    resize: none;
}

.btn_section{
    width:100%;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.send_btn{
    width: 40%;
    height:50px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Roboto';
    cursor: pointer;
    color: white;
    margin: 6px;
    background-color: rgb(37, 33, 33);;
}

.sent_msg{
    background-color: gray;
    color:white;
    padding: 10px 60px;
    border-radius: 10px;
    position: absolute;
    border: none;
    top:50%;
}

/*******  Responsive  ****************/

@media only screen and (max-width: 480px){
    .contact_container{
       height:100vh;
       width:90%;
       padding: 1.2em;
       box-shadow: none;
       margin: 1.5em 0em; 
      
    }

    .label{
        font-size: 1rem;
    }
    .form_container{
       
        font-weight: 400;
        gap:20px;
    }
    .name_email{
        gap: 10px;;
    }
    
.input {
  
    height:30px;
    color:rgb(37, 33, 33);
    text-indent: 20px;
    border:1px solid lightgray;
    margin: 10px 0px;    
}
.send_btn{
    width: 60%;
    height:40px;
    font-size: 0.96rem;
   
}

}

@media only screen and (min-width:600px) and (max-width:800px) {
    .contact{
        padding: 2em;
        margin: 4em 0em;
    }
    .contact_container{        
        width: 80%;
        height:100vh;
        padding: 1.5em;
    } 
    .form_container{
        height: 100%;;
    }
}
