.intro_container{   
    height:100vh;
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    margin:50px 100px;

   
}


.intro_wrapper{   
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.intro_left{
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;;
   
  
}

.vector_image{
    width:90%;
}

.title_items{    
    min-height: 60px;   
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #6639a5;
    font-size: 1.5rem;
}

.btn_container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.slider{   
    margin: 0px 10px;
    background-color: white; 
    padding: 10px 20px;
    justify-content: flex-start;
}

.intro_btn{
    background-color: #6639a5;
    height:50px;
    width:120px;
    border-radius: 12px;
    margin: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.01rem;
    font-weight: 400;
    transition:transform 100s ease-in-out;
      
}

.intro_btn:hover
{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.intro_btn>a{
    color:white;
}

.intro_right{
    flex:0.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px; 
    
}


.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

/*  for animation if needed 
.intro_title_wrapper
{


    height:100%;
    animation: move 12s ease-in-out infinite alternate;
    font-weight: 600;
     
}



@keyframes move{
    25%{transform: translateY(-50px);}
    50%{transform: translateY(-100px);}
    75%{transform: translateY(-150px);}
    100%{transform: translateY(-200px);}
}

.title_items{

    height:30px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(133, 51, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*/

/**********MEDIA QUOTES (MEDIUM DEVICES)   ***************/



/************ MEDIA QUOTES (SMALL DEVICES)  ************/

@media screen and (max-width:480px) {
    .intro_container{
        margin:30px 0px ;
    
    }
  .intro_wrapper{
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    padding-left:100px;
   
  }  
 
   .intro_left
   {
   display: none;
   }
  
    .intro_right{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        
    }
    .intro_right>h2{
        font-size: 14px;
    }
    .intro_right>h1{
        font-size: 22px;
    }
    .title_items{    
        min-height: 40px;   
        letter-spacing: 1px;
        font-weight: 600;
        color: #6639a5;
        font-size: 1.1rem;
    }
    
    .intro_btn{
        
        height:40px;
        width:90px;
        border-radius: 12px;
        margin: 0px 10px 0px 0px;
        color: white;
        letter-spacing: 2px;
        font-size: 0.85rem;
      
        
    }

  

    
    
}