.intro_container{

    margin: 100px;;
    height:100vh;
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    
}



.intro_wrapper{
    height:100%;
    padding: 0px 100px;    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

    
.intro_wrapper>h2{
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.6;
  }

.intro_wrapper>h1{
    
    font-family: 'Roboto';
    letter-spacing: 2px;
    margin: 24px 0;
}



.title_items{
    
    min-height: 80px;   
    letter-spacing: 1px;
    font-weight: 600;
    color: #8444df;
    font-size: 1.5rem;
}



.resume_btn{
    background-color:rgb(37, 33, 33);
    height:56px;
    width:130px;
    border-radius: 10px;
    margin: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.02rem;
    font-weight: 400;
    transition:transform 50s ease-in-out;
    
    
}

.resume_btn:hover
{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.intro_left{
    flex:0.6;   
    display: flex;
    justify-content: center;
 
}

.intro_right{
    flex:0.4;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
  
    

}

.vector_image{
   width:90%;
   object-fit: contain;
}

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

/*  for animation if needed 
.intro_title_wrapper
{


    height:100%;
    animation: move 12s ease-in-out infinite alternate;
    font-weight: 600;
     
}



@keyframes move{
    25%{transform: translateY(-50px);}
    50%{transform: translateY(-100px);}
    75%{transform: translateY(-150px);}
    100%{transform: translateY(-200px);}
}

.title_items{

    height:30px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(133, 51, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*/

/**********MEDIA QUOTES (MEDIUM DEVICES)   ***************/

@media screen and (max-width:1024px) 
{
  .info_container{
    grid-template-columns: 1fr;
    gap:2rem;
  }  
}


/************ MEDIA QUOTES (SMALL DEVICES)  ************/

@media screen and (max-width:600px) {
    .info_container{
        width:var(--container-width-5m)
    }
}