
.menu{  
    background-color:white;
    color:black;
    font-family: 'Poppins' sans-serif;
    width:160px;
    right:-160px;
    top:50px;
    height: 100vh;
    position: fixed;
    top: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 2s ease;   
    
}

.active {
    right: 0;
  }

.menu>ul{
    margin: 0;
    padding: 0px 20px;
    list-style: none;    
    font-weight: 300;   
    width: 100%;
    
}

.menu>ul>li{
   
    margin:25px 0px;
    font-size: 1rem;  
    width: 100%;
    
}

.menu>ul>li>a{
   
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 10px 0px;
    cursor: pointer;
     
}
   

.span_icon{

    flex:0.2;
}

.span_name
{
    flex:0.8;
    width:100%;
}


li:hover
{   
    display:block;
    transition: ease 1s; 
    cursor: pointer;
    background-color: rgb(222, 218, 218);
}


@media screen and (min-width:780px) {
.menu{
  width: 250px;
  right: -250px;
  top:70px;
  background-color:white;
  color:black;
}

.active {
  right: 0;
}


.menu>ul>li{
  margin:30px 0px;
  padding:20px;

}

.menu>ul>li>a{
  font-size: 1.3rem;
}
}