*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    height: 100%;
    width:100%;
   
}


    .sections{
        margin: 0 auto;
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        bottom:50px;
        scroll-behavior: smooth;
        /*scroll-snap-type: y mandatory;*/
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        background-color: #421A4C;
        color:white;
        z-index: 1;
        font-size: 1.5rem;
   
    }
    a{
        text-decoration: none;
    }
    .sections::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

 

   h2{
    font-size: 1.4rem;
   }

   p{
    font-size: 1.2rem;
   }
 