*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
  

   
}

.app{
   height: 100vh;
    background-color:rgba(237, 230, 230, 0.708);
}
    .sections{
        
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        bottom:50px;
        scroll-behavior: smooth;
        /*scroll-snap-type: y mandatory;*/
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
      
   
    }
    a{
        text-decoration: none;
    }
    .sections::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

 

   