
.container{
    display:flex;
   
}



.sidebar{
    height:100vh;
    background-color: rgb(37, 33, 33);
    color:white;
    position: fixed;
    font-family: 'Poppins' sans-serif;
    margin-bottom: 40px;
    transition: all 0.6s;
   
    
}

.top_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 20px 10px;
    margin-left:10px;
    margin-bottom: 10px;
    
}



.bars
{
    display: flex;
    margin-left: 40px;
    align-items:center;
    cursor: pointer;
    
    
}

.menu{
    display: flex;
   
}

/****  End OF TOP SECTION  ********/

.menu_items{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 20px;
    padding-bottom: 30px;
    margin-right:20px;
    font-weight: 400;
    text-decoration: none;
    color:white;
    transition: all 0.5s;
    
 
}

.icon .link_name{ 
    font-size: 1rem;
    
    
    
}



.menu_items:hover
{
    
    
    transition: ease 0.7s; 
    cursor: pointer;
    background-color: dimgrey;
}









/**********MEDIA QUOTES (MEDIUM DEVICES)   ***************

@media screen and (max-width:1024px) 
{
  .sidebar{
    grid-template-columns: 1fr;
    gap:2rem;
  }  
}


/************ MEDIA QUOTES (SMALL DEVICES)  ************

@media screen and (max-width:600px) {
    .sidebar{
        
        width:var(--container-width-5m)
    }
}

*/