.slider_container{
  
    margin-bottom: 20px;
    z-index: 1;  
}

.card{
    padding:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    z-index: 1;
    height:200px;
    width:200px;
    min-height: 200px;
    cursor: pointer;
    position: realtive;
    color:rgba(0,0,0,0.7);
    box-shadow: rgba(29, 24, 24, 0.15)  2.90px 2.95px 2.95px 2.6px;
   
}

.image{
    width:500px;
    transition: tranform 0.1s ease-out; 
   
}